<%- include('./header') %>
<div class="container">
    <br>
    <h2>Upload Course Content</h2>
    </br>
    <div class="row">
        <div class="col-md-6">
            <form method="POST" enctype="multipart/form-data">
                <label class="text-warning"> We suggest you to upload all files one after another, in sequence. </label>
                
                <div class="form-group">
                    <label for="file">File: </label>
                    <input type="file" placeholder="E.g. Node JavaScript Rest" name="contentFile" id="file" class="form-control"><br>
                </div>
                <div class="form-group">
                    <label for="order">Order: </label>
                    <input type="number" placeholder="E.g. 1 if you want this file to be the first course content" name="file_priority" id="order" class="form-control"><br>
                </div>
                <input type="submit" class="form-control btn-success" value="Upload" />
            </form>
        </div>
        <div class="col-md-6">
            <img src="/content.png" width="250">
        </div>
    </div>

</div>
<hr>

<div class="container">
    <h3>List of Contents</h3>
    <div class="row">
        <% 
    var n=0;
    for(var i=0; i < contents.length; i++) { %>
    <div class="card" style="width:300px; margin: 1%">
        
        <img class="card-img-top" src="/content.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
          
          <div class="text-center">
            <h4 class="card-title"><%= contents[i].contentName %></h4>

            <br>

            <a href='/content/delete/<%= contents[i]._id %>' class="btn btn-danger"><i class="fas fa-trash"></i></a>
          </div>
          
        </div>
    </div>
    <% 
    n = n + 1;
    if(n == 4)
    {
        n=0;
    }
    %><br> <%
    } %>
    </div>
    
</div>
</body>
</html>